<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Show Page</h1>

    <section>
        <h3>ID : <%= comment.id %> </h3>
        <p><strong><%= comment.username %> </strong></p>
        <p><%= comment.text %> </p>
    </section>
    
</body>
</html>