:root{
    --main-color:#0077b6;
}


main{
    margin-top: 5.5rem;
}


.products .card img{
    height: 190px;
    padding: 10px;
}

.products .btn{
    background-color: var(--main-color);
    color:white;
}