<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Page</h1>

    <form action="/comments/<%=comment.id%>?_method=PATCH" method="POST">
        <label for="text">Comment Text</label>
        <input type="text" name="text" id="text" value="<%= comment.text %>">
        <button type="submit">Save</button>
    </form>
    
</body>
</html>