<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    
    <h1>New Comment</h1>

    <form action="/comments" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="text">Comment Text</label>
        <input type="text" name="text" id="text">
        <button type="submit">Add</button>
    </form>

</body>
</html>