section{
    width: 80vw;
    margin: 50px auto;
    border:1px solid #ccc;
}

div{
    border: 3px solid black;
    background-color: aqua;
    margin: 10px;
    height: 100px;
    width: 100px;
    transition: all 2s;
}

section:hover div{
    margin-left: 1000px;
    cursor: pointer;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}

div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0, 0.86, 1, 0.27);
}

div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
