<footer class="footer py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2021</p>
    </div>
</footer>
