<nav class="navbar border-bottom border-dark navbar-expand-lg navbar-light py-4"  style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand fw-bold fs-3" href="#">Medium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Our Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/blogs/new">Write</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-dark text-light rounded-pill px-3">Get Started</a>
            </li>
          </ul>
         
      </div>
    </div>
  </nav>